:root {
    --primary-color: #181712;
    --secondary-color: #5352ed;
    --Tertiary-color: #ff6b81;
}

/* Set up the margin and the padding size */

* {
    margin: 0px;
    padding: 20px;
    border-radius: 0.3rem;
}

/* Appying a style to the body */

body {
    color: var(--primary-color);
    font-family: 'Times New Roman', Times, serif;
    background-color: wheat;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-grow: 1;

}

/* Applying styles to the Header */

header {
    padding: 10px;
    background-color: grey;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: white;
}

header p {
    font-weight: lighter;
    font-size: 20px;

}

header h1 {
    font-weight: bold;
    font-size: 30px;
    color: var(--Tertiary-color);
    margin: 0;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header a {
    text-decoration: none;
    color: var(--Tertiary-color);
}

header nav {
    text-decoration: underline;
    flex-direction: row;
    float: right;
    font-size: 20px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}

header nav ul li a {
    font-weight: lighter;
    font-size: 1.55vw;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
    border-radius: 15px;
    text-shadow: none;
}

/* working on the footer */

Footer {
    background: grey;
    width: 100%;
    padding: 20px 15px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
}

Footer h2 {
    color: var(--Tertiary-color);
    font-size: 15px;
    margin: 0;
}


/* working on my favorite section */
.favorite-say {
    color: var(--Tertiary-color);
}

.favorite img {
    border-radius: 80px;
    width: 250px;
    align-items: center;
}

/* Doing the about me section */

.About {
    display: inline;
    width: 28%;
    padding: 30px 10px;
    margin: auto;
    text-align: center;
    box-shadow: 0 0 15px 1px rgba(37, 73, 214, 0.18);
}

.About h2 {
    font-size: 40px;
    color: var(--Tertiary-color);
    text-align: left;
    border-right: var(--primary-color) solid;
    writing-mode: vertical-rl;
    float: left;
    justify-content: center;
    padding-top: 30px;
}

.About p {
    padding: 30px;
    display: block;
    position: absolute;
    right: 400px;
    width: 900px;

}


/* Start of the work projects */
.section-work {
    display: inline-flexbox;
    margin-bottom: 5px;
    margin-left: auto;
    display: inline-flex;
    flex-direction: row;
    align-content: flex-start;
    justify-content: space-between;

}

.section-work img {
    width: 80%;
    padding: 4px;
    border: var(--primary-color) solid 10px;

}

.projects-run h2 {
    font-size: 60px;
    color: var(--Tertiary-color);
    text-align: left;
    border-right: var(--primary-color) solid;
    writing-mode: vertical-rl;
    margin-top: 300px;
}


.contact img {
    margin: 5% 0 5% 2%;
    width: 5%;
    display: inline;
    float: right;
}

.contact h3 {
    font-size: 60px;
    color: var(--Tertiary-color);
    text-align: left;
    border-right: var(--primary-color) solid;
    writing-mode: vertical-rl;
}


/* Media Query for smaller desktop screens and smaller */
@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
        position: relative;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2,
    footer div {
        text-align: center;
        width: 100%;
    }

    /* Media Query for tablets and smaller */
    @media screen and (max-width: 768px) {}

    /* Media Query for Mobile phones and smaller */
    @media screen and (max-width: 575px) {
        .section-title {
            width: 95%;
        }

        .intro p {
            width: 100%;
        }

        .trainer {
            flex: 0 100%;
        }

        .contact-info {
            text-align: center;
        }

        .contact-info>* {
            flex: 0 100%;
        }

        .contact-form {
            order: 3
        }

    }
}